
<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div *ngIf = "courses[0] as course">


       <ng-template #blankImage let-courseName="description" >
            <p> {{courseName}} No Image ygget </p>
      </ng-template>


      <app-course-card  [noImageTpl] = "blankImage"  (courseSelected) = "onCourseSelected($event)"  [course] = "course">
            <app-course-image  [img] = "course.iconUrl"   *ngIf = "course.iconUrl" ></app-course-image>
      </app-course-card>



</div>
<router-outlet />