
<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- 
<div *ngIf = "listAllTheCourse">
      <p *ngFor="let data of listAllTheCourse">{{data.description}}</p>
</div> -->


     <div>
       <h1 style="color: green;" >
            Beginner
      </h1>

      <app-course-card    (courseSelected) = "onCourseSelected()"  [courses] = "beginnerCourses$ | async"></app-course-card>

     </div>

     <div>
            <h1 style="color: green;">
                  Advance
            </h1>
            <app-course-card   (courseSelected) = "onCourseSelected()"  [courses] = "advanceCourses$ | async"></app-course-card>

     </div>


<router-outlet />